* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Booter - Zero Zero";
  src: url("../Fonts/Booter - Zero Zero.woff") format("woff"), url("../Fonts/Booter - Zero Zero.woff2") format("woff2");
}

:root {
  font-size: 16px;
  --h1_fs: 4rem;
  --h2_fs: 1.2rem;
  --h1_fw: 500;
  --h2_fw: 400;
  --arrow_fs: clamp(4rem, 7vw, 5rem);
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.6%;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #007eab;
}

::-webkit-scrollbar-thumb:active {
  background-color: #044c86;
}

a {
  color: blue;
}

.container {
  --viewHeight: 100vh;
  height: var(--viewHeight);
  background: transparent;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
  z-index: 10;
}

.tiny-navigation {
  height: 5rem;
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  background-color: #353b48;
  z-index: -7;
  visibility: hidden;
}

.tiny-navigation li {
  width: 56px;
  height: 56px;
  list-style: none;
  padding: 0 7px;
  border-radius: 7px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.tiny-navigation li:hover {
  background: rgba(17, 155, 219, 0.7);
}

.tiny-navigation img {
  width: 100%;
  height: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.header {
  width: 100%;
  height: var(--viewHeight);
  padding: 20px;
  color: white;
  background-color: rgba(20, 20, 20, 0.6);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  place-content: center;
  position: relative;
}

.header__text {
  font-size: 4rem;
  font-size: var(--h1_fs);
  font-weight: var(--h1_fw);
  font-family: sans-serif, arial;
  text-align: center;
  color: #fefe;
  margin: 0 auto;
}

.header__text span {
  background-color: #98b2b4;
  opacity: .7;
  text-shadow: 0 0 5px black;
  color: #f946fc;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 0 10px;
  display: inline-block;
  font-family: "Booter - Zero Zero";
  border-radius: 10px;
}

.header div {
  width: inherit;
}

.header__subtext {
  font-size: 1.12rem;
  font-size: var(--h2_fs);
  font-family: Helvetica, sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  mix-blend-mode: multiply;
  background-color: #007eab;
  padding: 5px 15px;
  border-radius: 3px;
  margin: 10px auto;
}

.header__scroll-icon {
  --siblings-height: 0px;
  height: auto;
  width: 100px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  position: absolute;
  left: 50%;
  bottom: var(--siblings-height);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.header__scroll-icon.animate {
  -webkit-animation: float 600ms ease-in-out alternate infinite;
          animation: float 600ms ease-in-out alternate infinite;
}

.header__scroll-icon:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.header__scroll-icon a {
  text-decoration: none;
  color: wheat;
  font-size: 4.4rem;
  font-size: var(--arrow_fs);
  font-weight: 700;
  display: block;
}

#main {
  width: 100%;
  min-height: var(--viewHeight);
  background-image: linear-gradient(-45deg, #ebedee, aliceblue);
  position: relative;
  padding: 15px;
  padding-left: 0;
}

#main__navigation {
  --nav-tray-width: 5rem;
  width: var(--nav-tray-width);
  max-width: 500px;
  min-width: 5rem;
  height: 100%;
  top: 1%;
  -webkit-transition: width 250ms ease-out;
  transition: width 250ms ease-out;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  background: #444;
  border-top-right-radius: 5px;
  overflow: hidden;
  z-index: 15;
}

#main__navigation.stick {
  position: fixed;
  top: 1%;
}

#main__navigation nav {
  height: 100%;
  width: 5rem;
}

#main__navigation nav ul {
  height: 100%;
  width: 5rem;
  list-style: none;
}

#main__navigation nav ul div {
  min-height: 100px;
}

#main__navigation li {
  height: 50px;
  padding: 0 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#main__navigation li img {
  width: 50px;
  height: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

#main__navigation li span {
  height: 100%;
  width: calc(100% - 70px);
  font-family: "Booter - Zero Zero";
  font-size: 30px;
  margin-left: auto;
  border-radius: 2px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main__navigation li:hover {
  border-left: 2px solid #fefe;
}

#main__navigation li:hover > img {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

#main__navigation li:hover > span {
  background-color: #007eab;
}

#main__navigation li:first-child {
  margin-top: 10px;
}

#main__navigation li:nth-child(2) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.main__content {
  --clip: polygon(20% 0, 0 20%, 0 80%, 20% 100%, 80% 100%, 100% 80%, 100% 20%,80% 0);
  padding: 0 10px;
  padding-left: 5rem;
  line-height: 1.5;
  min-height: var(--viewHeight);
}

.main__content-about {
  font-size: 4rem;
  font-size: var(--h1_fs);
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: -13px;
}

.main__content-about span {
  position: relative;
}

.main__content-about span::after {
  content: '';
  top: 100%;
  height: 3px;
  font-family: arial;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  background: black;
  position: absolute;
}

.background {
  height: 65vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-radius: 5px;
  background: linear-gradient(235deg, #ebedee 20%, aliceblue);
}

.background .content {
  --shadow-color: rgba(108, 119, 44, 0.171);
  width: 30%;
  max-width: 240px;
  min-width: 180px;
  height: 100%;
  padding: 7px;
  border-radius: 15px;
  background: #efeff5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background .content.section1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.background .content.section2 {
  max-width: 270px;
  -webkit-box-flex: 1.2;
      -ms-flex-positive: 1.2;
          flex-grow: 1.2;
}

.background .content.section3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.background .banner {
  height: 70%;
  min-height: 180px;
  max-height: 250px;
  width: 100%;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  background-image: linear-gradient(138deg, #20c9ff 36.7%, #0008bb 84.4%, white);
  -webkit-box-shadow: inset 0 0 10px 7vw var(--shadow-color);
          box-shadow: inset 0 0 10px 7vw var(--shadow-color);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.background .content .info {
  text-align: center;
}

.background .info-title {
  color: #fefefe;
  text-transform: uppercase;
  font-family: "Booter - Zero Zero", sans-serif;
  letter-spacing: 3px;
  font-size: 2.6rem;
  font-weight: var(--h2_fw);
}

.background .content .info-text {
  margin: auto 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.my-image {
  --width: min(max(30%, 13rem), 20rem);
  max-width: 20rem;
  width: var(--width);
  height: 600px;
  font-size: 13px;
  margin: 20px auto;
  text-align: center;
  cursor: crosshair;
}

.my-image div {
  width: 100%;
  height: var(--width);
  min-height: 200px;
  max-height: 30rem;
  padding: 3px;
  border-radius: 4px;
  background-color: #444;
}

.my-image h2 {
  font-size: 2.4rem;
  font-size: clamp(2.3rem, 5vw, 3rem);
  font-weight: var(--h2_fw);
  font-family: "Booter - Zero Zero", sans-serif;
  line-height: 1.3;
}

.my-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.blur-image {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-filter: blur(2px) grayscale(80%);
          filter: blur(2px) grayscale(80%);
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.my-image:hover img {
  -webkit-filter: none;
          filter: none;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.my-image p {
  font-size: 1em;
  font-family: sans-serif;
}

.section-three {
  background-color: #1c272b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-right: 0;
}

.section-three .svgcolor-light {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #1c272b), color-stop(35.026%), to(#ebedee));
  background-image: linear-gradient(0deg, #1c272b 35%, 35.026%, #ebedee);
}

.section-three__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(var(--viewHeight) - 200px);
  width: 100%;
}

.section-three__content .contact-heading {
  text-align: center;
  font-size: var(--h1_fs);
  font-weight: var(--h1_fw);
  text-transform: uppercase;
  font-family: arial;
  color: #45f3ff;
  position: relative;
  margin-bottom: auto;
}

.section-three__content .contact-heading::before {
  content: '';
  display: block;
  height: 3px;
  width: 120px;
  background-color: #45f3ff;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-three__content .email-box {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  font-family: arial;
}

.section-three__content .email-box h2 {
  color: #45f3ff;
  font-size: var(--h2_fs);
  text-align: center;
  margin-bottom: 10px;
}

.section-three__content .email-box .row100 {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.section-three__content .email-box .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-three__content .email-box .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff;
}

.section-three__content .email-box .row100 .inputBox textarea, .section-three__content .email-box .row100 .inputBox input {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.section-three__content .email-box .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 1rem;
  padding: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.section-three__content .email-box .row100 .inputBox.textarea .text {
  top: 30px;
}

.section-three__content .email-box .row100 .inputBox textarea:focus + .text, .section-three__content .email-box .row100 .inputBox textarea:valid + .text, .section-three__content .email-box .row100 .inputBox input:focus + .text, .section-three__content .email-box .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.section-three__content .email-box .row100 .inputBox .line {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #45f3ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2px;
}

.section-three__content .email-box .row100 .inputBox.textarea textarea:focus ~ .line, .section-three__content .email-box .row100 .inputBox.textarea textarea:valid ~ .line, .section-three__content .email-box .row100 .inputBox input:focus ~ .line, .section-three__content .email-box .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.section-three__content .email-box .row100 .inputBox.textarea {
  width: 100%;
  height: 75px;
}

.section-three__content .email-box .row100 .inputBox.textarea textarea {
  resize: none;
  font-family: sans-serif;
  padding-top: 5px;
}

.section-three__content .email-box button[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  background-color: #45f3ff;
  color: black;
  font-size: 1.2rem;
  border-radius: 2px;
}

.section-three__content .email-box button[type="submit"]:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section-three__footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: auto;
  height: 200px;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-perspective-origin: 50%;
          perspective-origin: 50%;
}

.section-three__footer .social {
  width: 200px;
  height: 80px;
  position: relative;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.section-three__footer .social:hover {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.section-three__footer .front, .section-three__footer .right {
  background-color: #fefe;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  -webkit-box-shadow: inset 4px 5px 30px 3px #333, 0 10px 20px #333;
          box-shadow: inset 4px 5px 30px 3px #333, 0 10px 20px #333;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.section-three__footer .front {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  color: #333;
  font-size: 20px;
  font-family: sans-serif;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.section-three__footer .right {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transform: rotateY(-270deg) translateX(100px);
          transform: rotateY(-270deg) translateX(100px);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.section-three__footer .social-link {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 5px;
  -webkit-transition: scale 500ms ease-in-out;
  transition: scale 500ms ease-in-out;
}

.section-three__footer .social-link:nth-child(1) {
  background-color: #22acfe;
}

.section-three__footer .social-link:nth-child(2) {
  background-color: #3f68c0;
}

.section-three__footer .social-link:nth-child(3) {
  background-color: #0072b1;
}

.section-three__footer .social-link:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.section-three__footer .social-icon {
  width: 100%;
  height: 100%;
}

.section-three__footer .footer-text {
  font-size: 0.93rem;
  color: #fefe;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.section-three__footer .footer-text span {
  font-family: arial;
  color: #8e44ad;
}

.p5Canvas {
  position: absolute;
  top: 0;
  z-index: -10;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
  100% {
    -webkit-transform: translate(0, 30px) scale(1.05);
            transform: translate(0, 30px) scale(1.05);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
  100% {
    -webkit-transform: translate(0, 30px) scale(1.05);
            transform: translate(0, 30px) scale(1.05);
  }
}

@-webkit-keyframes tiny-effect1 {
  0% {
    left: 10%;
  }
  100% {
    left: 80%;
  }
}

@keyframes tiny-effect1 {
  0% {
    left: 10%;
  }
  100% {
    left: 80%;
  }
}

@-webkit-keyframes tiny-effect2 {
  0% {
    right: 10%;
  }
  100% {
    right: 80%;
  }
}

@keyframes tiny-effect2 {
  0% {
    right: 10%;
  }
  100% {
    right: 80%;
  }
}

.tiny-effect {
  border: 4px solid;
  border-radius: 5px;
}

.tiny-effect::before, .tiny-effect::after {
  content: '';
  display: block;
  height: 4px;
  width: 14px;
  -webkit-transform: skewX(50deg);
          transform: skewX(50deg);
  position: absolute;
  background-color: rgba(20, 20, 20, 0.6);
}

.tiny-effect::before {
  top: -4px;
  left: 10%;
  -webkit-animation: tiny-effect1 800ms ease-out 250ms infinite alternate;
          animation: tiny-effect1 800ms ease-out 250ms infinite alternate;
}

.tiny-effect::after {
  bottom: -4px;
  right: 10%;
  -webkit-animation: tiny-effect2 800ms ease-out 250ms infinite alternate;
          animation: tiny-effect2 800ms ease-out 250ms infinite alternate;
}

.slide-out {
  -webkit-transform: translateX(-500px) scale(0);
          transform: translateX(-500px) scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
}

.slide-in {
  -webkit-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}

.hide {
  visibility: hidden;
  position: absolute;
}

.dock-bottom {
  position: fixed;
  left: 0;
  z-index: 7;
  bottom: 0;
  visibility: visible;
}

@media only screen and (max-width: 650px) {
  :root {
    font-size: 14px;
  }
  .background {
    height: 700px;
  }
  .background .content {
    height: 330px;
    padding: 5px;
  }
  .social {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  .social:hover {
    -webkit-transform: unset;
            transform: unset;
  }
  .social img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .main__content {
    padding-left: 10px;
  }
  .section-three .section-three__footer {
    margin-bottom: 4.1rem;
  }
  .my-image div {
    max-height: 20rem;
  }
}

@media only screen and (max-width: 575px) {
  :root {
    font-size: 13px;
  }
  .background .info-title {
    text-shadow: 0 0 15px var(--shadow-color);
    mix-blend-mode: difference;
  }
  .tiny-navigation li img {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
}

@media only screen and (max-width: 475px) {
  :root {
    font-size: 11px;
  }
  .background {
    height: 1080px;
  }
  .my-image {
    max-width: 13rem;
    width: var(--width);
  }
  .section-three {
    padding: 0;
  }
  .section-three__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-three__content .contact-heading {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 475px) {
  :root {
    font-size: 11px;
  }
}

@media only screen and (max-width: 320px) {
  .header__text div {
    font-size: 34px;
  }
}
/*# sourceMappingURL=style.css.map */