@media only screen and (max-width: 970px){
    .section-one .about-me {
        background-image: none;
        div.about-me__info .sm-image {
            display: block;
        }
        .about-me__image {
            display: none;
        }
    }
}

@media only screen and (max-width: 650px) {
    :root {
        font-size: 14px;
    }
    .background .content {
        height: 250px;
        padding: 5px;
    }
    .social {
        transform: rotateY(-90deg);
    }
    .social:hover {
        transform: unset;
    }
    .social img {
        transform: scale(.7);
    }
    .main__content {
        padding-left: 10px;
    }
    .section-four {
        padding-bottom: $tiny-nav-height;
    }
}
@media only screen and (max-width: 576px) {
    :root {
        font-size: 11px;
    }
    .background .info-title {
        text-shadow: 0 0 15px var(--shadow-color);
    }
    .tiny-navigation li img {
        transform: scale(.85);
    }
    .header__scroll-icon.tiny-effect {
        transform: translate(-50%, -50px);
    }
}
@media only screen and (max-width: 475px) {
    .section-three {
        padding: 0;
    }
}
@media only screen and (max-width: 444px) {
    .header__main h1.header-name {
        font-size: 5rem!important;
    }
}
@media only screen and (max-width: 375px) {
    .header__main h1.header-name {
        font-size: 4.5rem!important;
    }
}
@media (max-width: 365px){
    .header .header__main .header-about {
        font-size: 1.4rem!important;
    }
}