*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

body {
    overflow: hidden;
    position: relative;

    p{
        color: $text-color;
        font-size: 15px;
        font-family: $primary-font;
        @media (max-width: 500px) {
            font-size: 14px;
        }
    }
    .main__content {
        font-family: $primary-font;
    }
}

a {
    color: $primary-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary-font;
	font-weight: 700;
	color: $title-color;
}
img {
    border-radius: 4px;
}
nav.nav i{
    font-size: 40px;
    color: $offwhite;
}
nav.nav i + span {
    color: $offwhite;
}