.slide-out-right {
    transform: translateX(-500px) scale(0);
    transition: $lazyLoad-speed;
    opacity: 0;
}
.slide-out-left {
    transform: translateX(500px) scale(0);
    transition: $lazyLoad-speed;
    opacity: 0;
}
.slide-in {
    transform: translateX(0) scale(1);
    opacity: 1;
}

.hide {
    display: none;
    position: absolute;
}
.dock-bottom {
    position: fixed;
    left: 0;
    z-index: 7;
    bottom: 0;
    visibility: visible;
}
.flex-even {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
