.slide-out-right {
    transform: translateX(-500px) scale(0);
    transition: $lazyLoad-speed;
    opacity: 0;
}
.slide-out-left {
    transform: translateX(500px) scale(0);
    transition: $lazyLoad-speed;
    opacity: 0;
}
.slide-in {
    transform: translateX(0) scale(1);
    opacity: 1;
}

.hide {
    display: none;
    position: absolute;
}
.dock-bottom {
    position: fixed;
    left: 0;
    z-index: 7;
    bottom: 0;
    visibility: visible;
}
#g-badge {
    min-height: 10px;
    z-index: -20;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 0;
    width: 304px;
    height: 80px;
    display: grid;
    align-items: center;
    justify-items: stretch;
    transform: translateX(-136px);
    margin: 10px 0;
    transition: 250ms transform linear;
    filter: drop-shadow(2px 4px 16px rgba(0, 0, 0, .7));
}
#g-badge:hover {
    transform: translateX(70px);
}