@font-face {
    font-family: "Booter - Zero Zero";
    src:    url("../fonts/Booter - Zero Zero.woff") format("woff"),
            url("../fonts/Booter - Zero Zero.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: "Gunslinger";
    src:    url("../fonts/Olivia & Kevin.ttf") format("truetype");
    font-display: swap;
}

$viewPortHeight: 100vh;
$viewPortWidth: 100vw;
$lazyLoad-speed: all 400ms ease-out;

$big-title: 4rem;
$h2_fs: 1.2rem;
$h1_fw: 500;
$h2_fw: 400;

//font
$primary-font   : 'Nunito Sans', sans-serif,Arial,Helvetica;
$font           : "Booter - Zero Zero",sans-serif;
//colors
$primary-color  : #1345e6;
$primary-color2 : #ed239f;
$title-color    : #05364d;
$text-color     : rgba(73, 83, 97, 0.96);
$nav-tray-color : #444;
$pinky-white    : #fefe;
$offwhite       : #f8faff;
$white          : #fff;
$contact-bg-color: rgb(28,39,43);
$footer-bg-color: #EFEFEF;
