@import "variables";

@import "reset";

@import "globals/globals";

@import "components/nav";

@import 'components/header';

@import "components/sections";


.p5Canvas {
    position: absolute;
    top: 0;
    z-index: -10;
}



// utils
@import "globals/utils";

//responsive design
@import "responsive";