@use "../../variables" as *;

.section-three {
    background-color: $contact-bg-color;
    display: flex;
    flex-flow: column nowrap;
    padding-right: 0;
    & .svgcolor-light {
        background: #1c272b;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: calc($viewPortHeight - 200);
        width: 100%;

        .email-box {
            width: 80%;
            max-width: 800px;
            padding: 20px;
            overflow: hidden;
            font-family: arial;
            transform: scale(0);
            transition: $lazyLoad-speed;
        }
        .email-box h2 {
            color: #45f3ff;
            font-size: var(--h2_fs);
            text-align: center;
            margin-bottom: 10px;
        }
        .email-box .row100 {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        .email-box .row100 .col {
            position: relative;
            width: 100%;
            padding: 0 10px;
            margin: 30px 0 10px 0;
            transition: 0.5s;
        }
        .email-box .row100 .inputBox {
            position: relative;
            width: 100%;
            height: 40px;
            color: #45f3ff;
        }
        .email-box .row100 .inputBox textarea, .email-box .row100 .inputBox input {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: transparent;
            box-shadow: none;
            border: none;
            outline: none;
            font-size: 15px;
            @media (max-width: 500px) {
                font-size: 14px;
            }
            padding: 0 10px;
            z-index: 1;
            color: #000;
        }
        .email-box .row100 .inputBox .text {
            position: absolute;
            top: 0;
            left: 0;
            line-height: 40px;
            font-size: 1rem;
            padding: 0 10px;
            transition: 0.5s;
            pointer-events: none;
        }
        .email-box .row100 .inputBox.textarea .text {
            top: 30px;
        }
        .float {
            top: -35px!important;
            left: -10px!important;
        }
        .email-box .row100 .inputBox .line {
            pointer-events: none;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #45f3ff;
            transition: 0.5s;
            border-radius: 2px;
        }
        .email-box .row100 .inputBox.textarea {
            width: 100%;
            height: 75px;
        }
        .email-box .row100 .inputBox.textarea textarea {
            resize: none;
            font-family: sans-serif;
            padding-top: 5px;
        }
        .email-box button[type="submit"] {
            border: none;
            padding: 7px 35px;
            cursor: pointer;
            background-color: #45f3ff;
            color: black;
            font-size: 1.2rem;
            border-radius: 2px;
        }
        .email-box button[type="submit"]:active {
            transform: scale(.9);
        }
    }

}